COLOR PALETTE:
- blue

THEME:
- cats (maybe)
- flowers
- cute gore section

PRIORITIES:
- timeline of the relationship
- her section
- quotes with artwork or photos
- guestbook | dated notes
- timer for upcoming events
- poetry section
- dream board
- stargazing section
- movie/TV show tracker

OPTIONAL:
- bucket list
- music playlist
-- games
--- 2 truths, 1 lie
--- 20 questions
--- trivia quiz